body {
  font-family: "raleway", Arial, sans-serif;
  font-weight: 400;
  margin: 0px;
  color: #333;
  background: #f2f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}

p {
  font-size: 1.125rem;
  line-height: 1.4;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
