.navbar {
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar li {
  display: inline;
  margin: auto 0;
}
.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
}
nav,
ul {
  display: inline;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.botao1,
.botao2 {
  display: inline-block;
  /* gap: 0.5rem; */
  padding: 0.875rem 1rem;
  border-radius: 0.25rem;
  border: 2px solid #f4ab00;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 700;
}
.botao1 {
  background: #f4ab00;
}

.botao2 img {
  display: inline-block;
  padding-right: 0.5rem;
}
